/* TwoComponentRows.css */

/* Container for rows */
.Homepage-container{
    margin-left: 250px;
}

.SideBar {
    margin-top: 46px;
}

.two-component-rows {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center align rows */
    gap: 10px;
  }
  
  /* Individual row */
  .row {
    display: flex;
    flex-basis: calc(50% - 10px); /* Two components per row with a 10px gap */
    justify-content: space-between; /* Space between components in a row */
    align-items: center; /* Center align components vertically */
  }
  
  /* Individual component */
  .component {
    height: 250px;
    flex: 1;
    padding: 20px;
    background-color: rgb(188, 188, 188);
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 18px;
    border-radius: 50px;
    margin: 10px; /* Added margin for spacing */
  }
  
  /* Adjust component width for larger screens */
  @media (min-width: 768px) {
    .component {
      flex-basis: calc(50% - 10px); /* Two components per row with a 10px gap */
    }
  }
  